<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>
    {% block titel %}Home{% endblock titel %}
        </title>
</head>
<body style="backgound-color:pink;">
        <section >
            <div class="ui menu">
                <div class="ui container">
                    <a href="{% url 'index' %}" class="header item">
                        <img src="{% static 'images/logo1.png' %}" alt="" class="logo">
                    </a>
                    <div class="right item">
                        <div class="ui item">
                            {% if user.is_authenticated%}
                            <a href="{% url 'create' %}" class="ui primary button">create</a>-
                            <a href="{% url 'logout' %}" class="ui primary button">logout</a>
                            {% else %}
                            <a href="{% url 'login' %}" class="ui primary button">Login</a>
                            {%endif%}
                        </div>
                        <div class="ui item">
                            <a href="{% url 'register' %}" class="ui primary button">Register</a>
                        </div>
                    </div>
                </div>
            </div>


          
            
        </section>
<div class="container">

    
    {% block content %}
    <img src="{% static 'images/logo1.png' %}" alt="">
    <div class="conten">

        <h1> <span> Home</span></h1> {% include "core/messages.html" %}
    </div>
    <div class="content">
        {% if todos %}
        <table class = "ui table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Completed</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                <tr>
                       
                        <td> <a href="{% url 'todo_detail' todo.id %}">{{todo.title}}</a></td>
                        <td>{{todo.description}}</td>
                        <td>{{todo.is_completed|yesno}}</td>
                        <td>
                            <a href="{% url 'todo_detail' todo.pk %}" class= "ui button">
                                <i class="eye icon"></i>
                            </a>
                            <a href="{% url 'update' todo.pk %}" class= "ui button">
                                <i class="edit icon"></i>
                            </a>
                        </td>
                    
                    </tr>
                {%endfor%}
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        <a href="?filter=all">All todos {{allcount}}</a>
                    </th>
                    <th>
                    </th>
                    <th>
                        <a href="?filter=yes">Yes = {{yes}}</a><br>
                        <a href="?filter=no">No = {{no}}</a>
                    </th>
                    <th>
                        <a href=""></a>
                    </th>
                </tr>
            </tfoot>
        </table>
        {%else%}
        <div class="ui message">
            <div class="header">
                No itme yet
            </div>
            <p>To create new todo click <a href="{% url 'create' %}">here...</a></p>
        </div>
 {%endif%}
    </div>
</div>
    
        
{% endblock content %}
    <script  src="{% static '/js/script.js' %}"></script>
</body>
</html>