{% extends "core/index.html" %}

{% block titel %}Login{% endblock titel %}
    
{% block content %}
        <h1>LOGIN</h1>
        <div class="container">
            <form class="ui form" method="POST">
                <div class="ui stacked segment">
                    <div class="ui icon">
                        <i class="user icon"></i>
                    </div>
                    {% csrf_token %}
                    {{form}}
                    <button class="ui button primary" type="submit">LOGIN</button>
                </div>
                </form>
            <span>To register click <a href="{% url 'register' %}">Here...</a></span>
        </div>    

{% endblock content %}
    